//utils
@import "./utils/variables";
@import "./utils/plaseholders";
@import "./utils/breackpoints";

//header
@import "./components/header";

// menu
@import "./components/menu";

//main-page
@import "./components/hero";
@import "./components/hero-btn";

@import "./components/features";
@import "./components/work";
@import "./components/team";
@import "./components/client";

//portfolio
@import "./components/portf-filtr-btns";
@import "./components/portf-cards";

//footer
@import "./components/footer";

//modal window
@import "./components/modal-window";
