.footer {
	padding: 60px 0;
	background-color: var(--background-footer-color);
}

.footer .container {
	display: flex;
	align-items: baseline;
}

.fotter__logo {
	color: var(--background-color);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}

.footer__link {
	margin-top: 20px;
	font-style: normal;
}

.footer__item:not(:last-child) {
	margin-bottom: 9px;
}

.footer__adress {
	line-height: 1.73;
	color: var(--secondary-text-color);
	&:hover,
	:focus {
		color: var(--acent-color);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.footer__contacts {
	font-size: 14px;
	line-height: 1.73;
	letter-spacing: 0.03em;
	color: var(--footer-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	:focus {
		color: var(--acent-color);
	}
}

.footer__social {
	margin-left: 70px;
}

.footer__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
	color: var(--background-color);
}

.footer__list {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.footer-list__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;

	color: var(--icon-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	:focus {
		background-color: var(--acent-color);
		color: var(--background-color);
	}
}

.social__icon {
	fill: currentColor;
}

.footer__icon {
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--background-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__suscribe {
	margin-left: auto;
}

.footer__suscribe input {
	width: 358px;
	height: 50px;
	padding: 16px 15px;
	background: #2f303a;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}

.footer-suscribe-input {
	color: #ffffff;
	outline: none;
}

.footer-suscribe-btn {
	position: relative;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	margin-left: 12px;
	padding: 10px 62px 10px 28px;

	min-width: 216px;
	text-align: center;

	cursor: pointer;

	color: var(--thirdy-color);
	background-color: var(--accent-color);
	border-width: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: var(--background-color);
	background-color: var(--acent-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	:focus {
		background-color: var(--acent-btn-cl);
	}
}

.footer-send-icon {
	position: absolute;
	color: white;
	margin-left: 10px;
}
