.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 80px;
	background-color: var(--background-color);
	border-bottom: 1px solid rgba(236, 236, 236, 1);
	z-index: var(--header-idx);

	@media screen and (max-width: 767px) {
		height: 60px;
	}
}

.header .container {
	display: flex;
	align-items: center;
}
.logo {
	color: var(--logo-color-text);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	align-items: center;
	margin-right: 93px;
	padding-top: 24px;
	padding-bottom: 25px;

	@media screen and (max-width: 767px) {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.web-logo {
	color: var(--acent-color);
}

.nav {
	///tablet
	@media screen and (max-width: 767px) {
		display: none;
	}

	///decktop
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
	}
}
.nav__list {
	display: flex;
	gap: 50px;
}
.nav__item {
	position: relative;
	padding-top: 32px;
	padding-bottom: 32px;
}
.nav__link {
	color: var(--main-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	display: block;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	:focus {
		color: var(--acent-color);
	}
}
.nav__list.link {
	color: var(--main-text-color);
	&:hover {
		color: var(--acent-color);
	}
	&:focus {
		color: var(--main-text-color);
	}
}
.nav__list.link.current {
	color: var(--acent-color);
}
.current {
	color: var(--acent-color);
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 4px;
		left: 0;
		bottom: 0;
		border-radius: 2px;
		background: #2196f3;
	}
}

.contact__list {
	///tablet
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: 768px) {
		margin-left: auto;
	}
	///decktop
	@media screen and (min-width: 1200px) {
		display: flex;
		gap: 30px;
	}
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
	.contact__item:not(:last-child) {
		margin-bottom: 10px;
	}
}

.contact__link {
	color: var(--ouwer-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	display: flex;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	:focus {
		color: var(--acent-color);
	}
}
.contact__icon {
	margin-right: 10px;
	fill: currentColor;
}
