.hero {
	padding-top: 118px;
	padding-bottom: 118px;
	background-color: var(--background-footer-color);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	text-align: center;
	max-width: 1600px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../image/index/mobile-hero-img1x.jpg);

	@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.hero-section {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../image/index/hero-img@2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../image/index/mobile-hero-img1x.jpg);

		@media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			.hero-section {
				background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
					url(../image/index/hero-img@2x.jpg);
			}
		}
	}

	@media screen and (min-width: 1200px) {
		padding-top: 200px;
		padding-bottom: 200px;
		height: 600px;

		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../image/index/mobile-hero-img1x.jpg);

		@media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			.hero-section {
				background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
					url(../image/index/hero-img@2x.jpg);
			}
		}
	}
}

.hero__title {
	margin-left: auto;
	margin-right: auto;
	color: var(--secondary-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	margin-bottom: 30px;
	text-transform: uppercase;

	@media screen and (max-width: 1199px) {
		max-width: 360px;
		font-size: 26px;
		line-height: 1.62;
	}
	@media screen and (min-width: 1200px) {
		width: 696px;
	}
}
