.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: var(--modal-idx);
	backdrop-filter: blur(1px);

	opacity: 1;
	transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.5);
}

.modal {
	position: absolute;
	width: 528px;
	height: 581px;
	top: 50%;
	left: 50%;

	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__popup {
	position: absolute;
	padding: 40px;
	width: 528px;
	height: 581px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
	border-radius: 4px;
	background-color: var(--thirdy-color);
}

.modal-close-btn {
	position: absolute;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	padding: 0;

	color: #000000;

	background-color: transparent;
	border-radius: 50%;
	border: 1px solid rgb(232, 230, 230);
	cursor: pointer;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	:focus {
		fill: var(--acent-color);
	}
}
.form {
	width: 448px;
	margin-left: 0;
	margin-right: 0;
}

.form__title {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 0.8;
	text-align: center;
	letter-spacing: 0.03em;
}

.form__wrapper {
	display: flex;
	position: relative;
	flex-direction: column;

	margin-bottom: 10px;

	text-align: start;

	margin-left: auto;
	margin-right: auto;
}

.form__label {
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.1;
	letter-spacing: 0.01em;
	font-weight: 400;
	color: var(--ouwer-text-color);
}

.form__input {
	padding-left: 40px;
	padding-right: 40px;
	margin: 0;
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	outline: none;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
	position: absolute;
	top: 50%;
	left: 15px;
	fill: var(--logo-color-text);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__wrapper:focus-within .form__input,
.form__wrapper:hover .form__input {
	border: 1px solid var(--acent-color);
}

.form__wrapper:focus-within .form__icon,
.form__wrapper:hover .form__icon {
	fill: var(--acent-btn-cl);
}

.form__textarea:hover .form__message,
.form__textarea:focus-within .form__message {
	border: 1px solid var(--acent-color);
}

.form__message {
	display: block;
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	padding: 15px 16px;

	outline: none;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__message::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

.form__checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.checkbox__label {
	display: flex;
	align-items: center;
	color: var(--ouwer-text-color);
}

.checkbox__input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.checkbox__icon {
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 9px;

	border: 2px solid #2a2a2a;
	border-radius: 2px;
}

.checkbox__input:checked + .checkbox__icon {
	background-color: var(--acent-color);
	border-color: var(--acent-color);
	background-image: url(../images/icon.svg);
	background-size: contain;
	background-origin: content-box;
	background-repeat: no-repeat;

	transition: 250ms;
}

.checkbox_agreement {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
}

.checkbox__link {
	font-weight: 400;
	text-decoration-line: underline;
	color: var(--acent-color);
}

.form__btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 28px;

	min-width: 200px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	border-width: 0;
	border-radius: 4px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	color: var(--background-color);
	background-color: var(--acent-color);

	cursor: pointer;

	transition: background-color 250ms linear;

	&:hover,
	:focus {
		background-color: var(--acent-btn-cl);
	}
}
