.hero__btn {
	font-family: inherit;
	color: var(--thirdy-color);
	background-color: var(--accent-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	border-width: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: var(--background-color);
	background-color: var(--acent-color);
	padding: 10px 32px;
	min-width: 216px;
	text-align: center;

	transition: background-color 250ms linear;

	&:hover,
	:focus {
		background-color: var(--acent-btn-cl);
	}
}
