.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio__item {
	width: 370px;
}

.portfolio__link {
	display: block;
	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

	&:hover,
	:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.portfolio__card {
	position: relative;
	overflow: hidden;
}

.portfolio__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
	transform: translateY(0);
}

.portfolio__content {
	position: absolute;
	bottom: 0;

	padding: 63px 24px;

	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.portfolio__wrap {
	border-bottom: 1px solid var(--line-color);
	border-left: 1px solid var(--line-color);
	border-right: 1px solid var(--line-color);
	padding: 20px 24px;
}

.portfolio__title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
	color: var(--main-text-color);
}

.portfolio__text {
	color: var(--ouwer-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.03em;
}
