.team {
	background-color: var(--buttons-port-color);
}

.team__roster {
	display: flex;
	gap: 30px;
}

.team__item {
	width: 270px;
	background-color: var(--background-color);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 4px 4px;
}
.team__wrap {
	padding: 30px 0;
	text-align: center;
}
.team__member {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	letter-spacing: 0.03em;

	color: var(--main-text-color);
	margin-bottom: 10px;
}
.team__text {
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--ouwer-text-color);

	margin-bottom: 16px;
}
.team__list {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.team__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;

	color: var(--icon-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	:focus {
		background-color: var(--acent-color);
		color: var(--background-color);
	}
}

.team__icon {
	fill: currentColor;
}
