.work {
	padding-top: 0;
	padding-bottom: 94px;
}
.work__list {
	display: flex;
	gap: 30px;
}
.work__item {
	position: relative;
}

.work__text {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	background: rgba(47, 48, 58, 0.8);
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: #ffffff;
}
