:root {
	--main-text-color: #212121;
	--secondary-text-color: #ffffff;
	--ouwer-text-color: #757575;
	--acent-color: #2196f3;
	--acent-btn-cl: #188ce8;
	--contener-color: #eeeeee;
	--logo-color-text: #000000;
	--buttons-port-color: #f5f4fa;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--background-footer-color: #2f303a;
	--background-section: #e5e5e5;
	--line-color: #ececec;
	--background-color: #ffffff;
	--icon-color: #afb1b8;
	--main-font: Roboto, sans-serif;
	--header-idx: 10;
	--modal-idx: 100;
	--anim-fast: ;
}

body {
	color: var(--main-text-color);
	font-family: var(--main-font);
	font-size: 14px;
	letter-spacing: 0.03em;
	padding-top: 80px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section-title {
	color: var(--main-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 50px;
}
